{%extends "layout.html"%}
{% block content %}
{#<div class="hidden">#}
{#    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam architecto autem cum cupiditate delectus dicta, distinctio dolore dolorem dolores dolorum ducimus eius et eum eveniet exercitationem fugiat fugit illum impedit ipsa laborum molestias nam necessitatibus nesciunt nihil nobis nostrum obcaecati odit quos repellat repellendus suscipit unde, velit veritatis voluptatibus.</p>#}
{#</div>#}
<div class="col-md-12 my-5 bg-dark" bis_skin_checked="1" style="padding-left: 12rem">
    <div class="row" bis_skin_checked="1">
        <div class="col-md-2 col-sm-6" bis_skin_checked="1">
            <div class="our-team" bis_skin_checked="1">
                <div class="pic" bis_skin_checked="1">
                    <img src="https://img.icons8.com/bubbles/500/000000/audrey-hepburn.png"/>
                </div>
                <div class="team-content" bis_skin_checked="1">
                    <h3 class="title">Sakshi Vohra</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6" bis_skin_checked="1">
            <div class="our-team" bis_skin_checked="1">
                <div class="pic" bis_skin_checked="1">
                    <img src="https://img.icons8.com/bubbles/500/000000/amy-winehouse.png"/>
                </div>
                <div class="team-content" bis_skin_checked="1">
                    <h3 class="title">Bhawika Arora</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6" bis_skin_checked="1">
            <div class="our-team" bis_skin_checked="1">
                <div class="pic" bis_skin_checked="1">
                    <img src="https://img.icons8.com/bubbles/500/000000/elvis-presley.png"/>
                </div>
                <div class="team-content" bis_skin_checked="1">
                    <h3 class="title">Mihir Jain</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6" bis_skin_checked="1">
            <div class="our-team" bis_skin_checked="1">
                <div class="pic" bis_skin_checked="1">
                    <img src="https://img.icons8.com/bubbles/500/000000/andy-warhol.png"/>
                </div>
                <div class="team-content" bis_skin_checked="1">
                    <h3 class="title">Amritansh Ashesh</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6" bis_skin_checked="1">
            <div class="our-team" bis_skin_checked="1">
                <div class="pic" bis_skin_checked="1">
                    <img src="https://img.icons8.com/bubbles/500/000000/coco-chanel.png"/>
                </div>
                <div class="team-content" bis_skin_checked="1">
                    <h3 class="title">Mahima Jingra</h3>
                    <span class="post">Web Designer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="how-section1 mt-6 bg-dark white">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/500/000000/giraffe-full-body.png"/>
        </div>
        <div class="col-md-6">
            <h4>Background</h4>
                        <h4 class="subheading">Why do we do it?</h4>
        <p class="text">Owing to climate change and human interference, the forest fires have been increasing steadily in Latin
            American countries, Arctic Circle and Africa. For instance, Amazon Rainforests in 2019 has experienced double the number
            of forest fires compared to those in 2013. Countries like Canada, Sweden, Greece, Australia, and the UK are also reeling
            under forest fire. Around 8527 incidents of fires had ravaged nearly 2 million acres of land in California last year.
            Climate change has contributed to wildfire in the form of drought, rising temperature, low humidity, and altered wind pattern.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>What is Foresty™?</h4>
                        <h4 class="subheading">How do we predict the chances of something like this?</h4>
                        <p class="text">FOREST™ is a powerful Machine Learning based prototype which helps the local authorities and other locals by warning them of such events happening
                        near them. Our systems work around the clock so you could sleep in peace and take necessary measures in case of such an occurrence. You can even simply
                            use it to monitor the weather over any forests near you or across the ocean.<surve></surve></p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/500/000000/wildfire.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="https://img.icons8.com/fluent/200/000000/robot.png"/>
        </div>
        <div class="col-md-6">
            <h4>24/7 - Real-Time Network</h4>
                        <h4 class="subheading">Our robots work hard to provide flawless results</h4>
                        <p class="text">All our data is obtained from cutting edge technology providers to provide accurate and reliable weather data and predictions</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>How can you help?</h4>
                        <h4 class="subheading">Donation go a long way in making the prevention systems more effective.</h4>
                        <p class="text">Donations helps the authorities have more skilled people work for them, provide quality care for trees and animals, better their equipment and have a cup of coffee to get back to work.
                            We provide multiple payment options. Choose a payment method that works best for you, from direct deposit or PayPal to wire transfer and more.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/500/000000/billing.png"/>
        </div>
    </div>
</div>
{% endblock content%}