{%extends "layout.html"%}

{% block metatags %}
{% endblock metatags %}
{% block content %}
<div class="how-section1 bg-dark white" style="padding-top: 15rem">
{#    #}
<div class="row">
    <div class="col-md-12">
        <h4>Probability of forest fire in {{forest}}</h4>
        <p class="msubhead">According to us the chances of a Forest Fire in {{forest}} is <span style="color: #b9431c">Moderate to High!</span></p>
        <p class="text">We recommend you contact to authorities immediately and find the current status of this event. Meanwhile,here are some measures we request you to take for you and your family's safety.</p>
    </div>
{#    #}
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/500/000000/ambulance.png"/>
        </div>
        <div class="col-md-6">
            <h4>How to prevent a wildfire</h4>
            <p class="msubhead">Contact 911, your local fire department, or the park service if you notice an unattended or out-of-control fire.</p>
        <p class="text">
        <ul>
            <li>Always take care when using and fueling lanterns, stoves, and heaters. Make sure lighting and heating devices are cool before refueling. Avoid spilling flammable liquids and store fuel away from appliances.</li>
            <li>Never leave a fire unattended. Completely extinguish the fire—by dousing it with water and stirring the ashes until cold—before sleeping or leaving the campsite.</li>
            <li>Do not discard cigarettes, matches, and smoking materials from moving vehicles, or anywhere on park grounds. Be certain to completely extinguish cigarettes before disposing of them.</li>
            <li>Follow local ordinances when burning yard waste. Avoid backyard burning in windy conditions, and keep a shovel, water, and fire retardant nearby to keep fires in check. Remove all flammables from the yard when burning.</li>
        </ul>
           </p>
        </div>
{#            <img src="https://www.waldwissen.net/assets/_processed_/d/3/csm_fva_waldbrand_wb4_2_teich_c450c090a0.jpeg" width="500px" height=auto>#}
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Evacuation tips</h4>
                        <p class="msubhead">Seek your nearest evacuation camp</p>
                        <p class="text">
                            <ul>
                                <li>If advised to evacuate, do so immediately.</li>
                                <li>Know your evacuation route ahead of time and prepare an evacuation checklist and emergency supplies.</li>
                                <li>Wear protective clothing and footwear to reduce harm from flying sparks and ashes.</li>
                            </ul>
                        </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/500/000000/high-risk.png"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="https://img.icons8.com/fluent/500/000000/warehouse-1.png"/>
        </div>
        <div class="col-md-6">
            <h4>Before you leave, prepare your home</h4>
                        <p class="msubhead">Follow these safety measures</p>
                        <p class="text">
                            <ul>
                                <li>Remove combustibles, including firewood, yard waste, barbecue grills, and fuel cans, from your yard.</li>
                                <li>Close all windows, vents, and doors to prevent a draft.</li>
                                <li>Shut off natural gas, propane, or fuel oil supplies.</li>
                                <li>Fill any large vessels—pools, hot tubs, garbage cans, or tubs—with water to slow or discourage fire.</li>
                            </ul>
                        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>If caught in a wildfire</h4>
                        <p class="msubhead">The early detection and location of forest fires,
                            this aerial support can also be helpful in directing the operational forces on the ground.</p>
                        <p class="text">
                            <ul>
                                <li>Don't try to outrun the blaze. Instead, look for a body of water such as a pond or river to crouch <in class=""></in></li>
                                <li>If there is no water nearby, find a depressed, cleared area with little vegetation, lie low to the ground, and cover your body with wet clothing, a blanket, or soil. Stay low and covered until the fire passes.</li>
                                <li>Protect your lungs by breathing air closest to the ground, through a mask or moist cloth, if possible, to reduce smoke inhalation.</li>
                            </ul>
                        </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://img.icons8.com/fluent/240/000000/campfire.png"/>
        </div>
    </div>
</div>
{% endblock content %}
