{%extends "layout.html"%}

{% block metatags %}
{% endblock metatags %}

{% block content %}
<div class="how-section1 bg-dark white" style="padding-top: 15rem">
{#    #}
<div class="row">
    <div class="col-md-12">
      <h4>Probability of forest fire in <i>{{forest}}</i></h4>
        <p class="msubhead">According to our collected data, the chances of a Forest Fire in {{forest}} is <span style="color: #3bb934">{{data}}</span> or very unlikely.</p>
        <p class="text">Nonetheless, Here are some measures you can ask your local authorities to take to prevent something like this happening near you.</p>
    </div>
{#    #}

<div class="row">
    <div class="col-md-6 how-img">
        <img src="https://img.icons8.com/cute-clipart/500/000000/rainwater-catchment.png"/>
    </div>
    <div class="col-md-6">
        <h4>Fire fighting reservoirs </h4>
                    <p class="msubhead">Build and maintain, a fire fighting water supply system within suitable water courses or to create
        artificial reservoirs for water extraction</p>
    <p class="text">Water is still the main way to extinguish forest fires. Therefore in large, contiguous and fire endangered forested areas
        it is necessary to have, or build and maintain, a fire fighting water supply system within suitable water courses or to create
        artificial reservoirs for water extraction. When creating new reservoirs an agreement is needed between the forest owners,
        forest authorities and the fire service. It is important that these extraction points are sufficiently identified and easily accessible by fire engine.</p>
    </div>
{#            <img src="https://www.waldwissen.net/assets/_processed_/d/3/csm_fva_waldbrand_wb4_2_teich_c450c090a0.jpeg" width="500px" height=auto>#}
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Infrastructure</h4>
                    <p class="msubhead">Forest infrastructure should be agreed with the forest authorities,
                        owners and fire service.</p>
                    <p class="text">In order for fire engines to reach a forest stand it is important that the roads can bear heavy vehicles.
                        Similarly turning and passing bays and sufficient clearance must be maintained or created. Also as
                        with the creation of water reservoirs, this forest infrastructure should be agreed with the forest authorities,
                        owners and fire service.</p>
    </div>
    <div class="col-md-6 how-img">
        <img src="https://img.icons8.com/cute-clipart/500/000000/fire-extinguisher.png"/>
    </div>
</div>
<div class="row">
    <div class="col-md-6 how-img">
         <img src="https://img.icons8.com/cute-clipart/500/000000/bullet-camera.png"/>
    </div>
    <div class="col-md-6">
        <h4>Forest Fire Monitoring</h4>
                    <p class="msubhead">Need for various modern monitoring system</p>
                    <p class="text">Since the introduction of automatic, camera supported forest fire observation systems,
                        the number of forest fires has not reduced but their extent has. The early and exact identification of forest fires and a
                        fast notification has ensured that the technical team can be on-site quickly and can quickly begin to fight the fire.
                        An optical sensor system used for the early detection and monitoring of forest fires.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Aerial Surveillance </h4>
                    <p class="msubhead">The early detection and location of forest fires,
                        this aerial support can also be helpful in directing the operational forces on the ground.</p>
                    <p class="text">Aerial surveillance flights are a possible means to detect forest fires at an early stage
                        during times of high fire risk. Along with regulatory authority surveillance flights (e.g. fire service air service in Lower
                        Saxony), commercial airlines or private amateur pilots can be used to fly pre-determined routes. This form of collaboration
                        is practiced in Saxony, Bavaria and Brandenburg. In Rhineland-Palatine when the danger level is above level 4, all airports
                        are contacted and pilots are asked to help with early detection. Besides the early detection and location of forest fires,
                        this aerial support can also be helpful in directing the operational forces on the ground.</p>
    </div>
    <div class="col-md-6 how-img">
        <img src="https://img.icons8.com/cute-clipart/500/000000/dual-helicopter.png"/>
    </div>
</div>
{#    neww#}
<div class="row">
    <div class="col-md-6 how-img">
         <img src="https://img.icons8.com/cute-clipart/500/000000/gps-receiving.png"/>
    </div>
    <div class="col-md-6">
        <h4>Communication equipment</h4>
                    <p class="msubhead">Test that forest fire
                        fighting maps, telephone, mobile and address lists as well as response plans are up-to-date.</p>
                    <p class="text"> Forest fires can only be quickly and successfully fought with functioning communication between the fire service and forest authority operational teams. Mobile telephones and radios are required. Up-to-date telephone lists are also needed.

Annual checks are carried out before the start of the fire season in Mecklenburg-Western Pomerania to test that forest fire
                        fighting maps, telephone, mobile and address lists as well as response plans are up-to-date.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Emergency and deployment plans, Control of operations </h4>
                    <p class="msubhead">Before the outbreak of a fire, emergency and deployment plans have to be created.</p>
                    <p class="text">In addition to updating plans, in the run up to a fire, suitable premises for an operational headquarters c
                        an be identified if a command vehicle will not be used as the control centre. Besides technical equipment (computers, printers),
                        these premises should also be equipped with sufficient communication means (emergency services radio, mobile telephones, landlines,
                        receivers). A good road connection and a helicopter landing site is also required. As the press and media representatives have to also
                        be reckoned with during a fire, a separate room should be made available for them to work in if the fire will last for some time.</p>
    </div>
    <div class="col-md-6 how-img">
        <img src="https://img.icons8.com/cute-clipart/500/000000/explosion.png"/>
    </div>
</div>

</div>
{% endblock content %}

