{% extends "layout.html" %}
{% block metatags %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock metatags %}
{% block content %}
<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>What do we do?</h2>
                    <p>We provide updates from around the world and inform you regarding any unforeseen events that may happen around you</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/flat_round/64/000000/presentation.png"/>
                    <div class="feature-content">
                        <h5>Intervention</h5>
                        <p>We identify and intervene in areas where there is growing threat of further degradation.
                        Forest Departments are communicated new developments reported on our systems immediately.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/color/64/000000/parrot.png"/>
                    <div class="feature-content">
                        <h5>Tropical Focus</h5>
                        <p>Our geographical focus is the tropics where forests and trees are more efficient at cooling temperatures through evapotranspiration and cloud reflectivity.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/color/64/000000/safety-collection-place.png"/>
                    <div class="feature-content">
                        <h5>Collaborate</h5>
                        <p>Our mission is to build upon corporate and scientific partnerships and provide the vision,
                            the resources and the knowledge to empower communities to restore their forests and scale their impact.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/color/64/000000/filled-sent.png"/>
                    <div class="feature-content">
                        <h5>Responsiveness</h5>
                        <p>We stay in touch with your local authorities constantly to make them aware of abrupt climatic changes</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/color/64/000000/ambulance.png"/>
                    <div class="feature-content">
                        <h5>Testing for Perfection</h5>
                        <p>On-site drills and safety measures are regularly executed to ensure the proper training and technique.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feature box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <img src="https://img.icons8.com/color/64/000000/filled-chat.png"/>
                    <div class="feature-content">
                        <h5>Community Engagement</h5>
                        <p>We work with local communities to give them ownership, leverage local knowledge and enhance environmental stewardship capacity.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>
{% endblock content %}